.flex.flex-wrap.justify-center
    - @articles.each do |article|
        %div.m-8.w-33.h-min-33.border-2.shadow.text-center{id: dom_id(article)}
            = link_to "#{article.title}", article_path(article), {class: 'main'}
            %h3.example= article.description
            %h4= article.category.name