- categories = Category.all
%ul.list-reset.flex.justify-around
    - categories.each do |category|
        %li
            %p
                = link_to category.name, category_path(category), class: 'category-item'