= notice || alert
=link_to 'The Sunrise Press', root_path

-if user_signed_in?
        =link_to 'Logout', destroy_user_session_path, method: :delete
        -if current_user.role == 'journalist' || 'editor'
                =link_to 'New article', new_content_management_article_path
        -if current_user.role == 'editor'
                =link_to 'Articles', content_management_articles_path
-else
        =link_to 'Register', new_user_registration_path
        =link_to 'Login', new_user_session_path
