=link_to "The Sunrise Press", root_path
=link_to "Register", new_user_registration_path
-if user_signed_in?
    =link_to "Logout", destroy_user_session_path, method: :delete
    %p= current_user.email
=link_to "Login"