%nav.flex.items-center.justify-between.flex-wrap.sunrise
    .text-sm.lg:flex-grow.flex.justify-start.text-black.no-underline
        =link_to image_tag('logo.png',{id: 'logo' }), root_path

-if user_signed_in?
    =link_to 'Logout', destroy_user_session_path, method: :delete
    -if current_user.role == 'journalist'
        =link_to 'New article', new_journalist_article_path
-else
    =link_to 'Register', new_user_registration_path
    =link_to 'Login'
