%h1 Users List
%br
%table
    %tr
        %th Email
        %th Role
        %th Change Role
    - @users.each do |user|
        - unless user.role === 'editor'
            %tr
                %td= user.email
                %td= user.role
                -if user.role == 'member'
                    %td= link_to 'Set as Journalist', content_management_user_path(user), method: :patch
                -if user.role == 'journalist'
                    %td= link_to 'Set as Member', content_management_user_path(user), method: :patch
