@tailwind preflight;

@tailwind components;

@tailwind utilities;


.main{
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
    font-weight: 900;
    font-size: 1.8em;
    border-bottom: 1px lightgray solid;

}
.main:hover{
    color:#ffbe76;
}


.form {
    background-color: lightgray;
    margin: 6px;
}

.form-button {
    background-color: orange;
    margin: 6px;
}