@tailwind preflight;

@tailwind components;

@tailwind utilities;


.main{
    text-decoration: none;
    font-size: x-large;
    letter-spacing: 2px;
    color: black;
    font-weight: 900;
    font-size: 1.5em;
}
.main:hover{
    color:#ffbe76;
}
.main::after {
    content: ' ';
    background: lightgray;
    display: block;
    border: #f7f1e3,1px,solid;
    box-shadow: 30px;
    height: 2px;
    width: auto;
}

.article {
    margin-left: 10%;
    margin-right: 10%;
}

.form {
    background-color: lightgray;
    margin: 6px;
}

.form-buttom {
    background-color: orange;
    margin: 6px;
}