-if current_user.role == 'editor'
    = render partial: 'partials/nonpublished_articles', locals: {articles: @articles}
    = render partial: 'partials/published_articles', locals: {articles: @articles}