-if current_user.role == 'editor'
    = render partial: 'articles_list', locals: {articles: @articles, published_state: :not_published}
    = render partial: 'articles_list', locals: {articles: @articles, published_state: :published}